@import "node_modules/normalize.less/normalize.less";
@import "mixins.less";
@import "blocks/wrapper.less";
@import "blocks/casco-intro.less";
@import "blocks/casco-form.less";
@import "blocks/casco-help.less";

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  min-width: 1315px;
}