.main-footer {
   background: #3b3b3b none repeat scroll 0 0;
}
div#footerMenuLine .menu ul.l0 {
    border-right: 1px solid #d9264c;
}
div#footerMenuLine .menu li.l0 {
    border-left: 1px solid #d9264c;
}
div#footerMenuLine .menu li.l0:hover {
    background: #272727 none repeat scroll 0 0;
}
div#footer {
    background: #3b3b3b none repeat scroll 0 0;
    clear: both;
    color: #fff;
    margin-top: 30px;
    padding: 4em 50px;
}

div#footer .wrapper {
    min-height: 22.5em;
}
div#footer a {
    color: #acacac;
    font-size: 1.2em;
    text-decoration: none;
}
#footer ul {
    list-style: outside none none;
}
div#footer a:hover {
    color: #fff;
}
div#footer a.open {
    color: #fff;
}
.footer-logo {
    float: left;
    width: 23%;
}
.footer-col {
    float: left;
    width: 17%;
  .clearfix();
}
.footer-col ul.footer-list li {
    margin-top: 1.5em;
}
.footer-zag {
    font-size: 1.2em;
}
.footer-context {
    font-size: 0.8em;
    margin-top: 1em;
}
.footer-logo-address {
    font-size: 0.8em;
    margin-top: 10%;
}

.layout {
  .clearfix();
  position: relative;
  padding: 0;
  padding-bottom: 50px;
}

.footer-dotted-a {
    border-bottom: 1px dotted #fff;
    color: #fff;
    font-size: 0.8em;
    line-height: 3em;
    text-decoration: none;
}
.footer-dotted-a:hover {
    border: 0 none;
    color: #fff;
}
#up-scroll {
    background: rgba(0, 0, 0, 0) url("http://максимум.рф/i/PublicPage.footer.upscroll.png") no-repeat scroll center center;
    cursor: pointer;
    height: 57px;
    position: absolute;
    right: 0;
    top: 0;
    width: 56px;
    z-index: 990;
}
.footer-phone-order {
    display: block;
}
#social-nets {
    padding-top: 1.75em;
}
#social-nets a {
    background: rgba(0, 0, 0, 0) url("http://максимум.рф/i/PublicPage.footer.SocialNets.png") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 31px;
    margin-right: 0.62em;
    width: 31px;
}
#social-nets .vk {
}
#social-nets .ok {
    background-position: -40px 0;
}
#social-nets .fb {
    background-position: -80px 0;
}
div#copyrights {
    font-size: 0.83em;
    padding-top: 5em;
    width: 75%;
}
a#PlayNext {
    background: rgba(0, 0, 0, 0) url("http://максимум.рф/i/PlayNext.png") no-repeat scroll 0 0;
    bottom: -20px;
    height: 33px;
    position: absolute;
    right: 0;
    width: 111px;
}
