.insurance-period {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 90px;
  padding-right: 50px;
}

.insurance-period__counter {
  color: #ffffff;
  font-size: 30px;
  flex-basis: 480px;
}

.insurance-period__text {
  text-align: center;
}

.insurance-period__counter-wrap {
  margin-left: 7%;
}
.casco-counter {
  display: inline-block;
}

.osago-counter {
  display: inline-block;
}