.osago-service__advantages {
  margin-bottom: 80px;
}

.osago-service__advantages-title {
  font-size: 37px;
  text-align: center;
  color: #767676;
  font-weight: normal;
  margin-bottom: 40px;
}

.osago-service__advantages-container {
  display: flex;
  justify-content: space-around;
  padding-left: 60px;
  padding-right: 60px;
 
  
}

.osago-service__advantage {
  font-size: 18px;
  line-height: normal;
  color: #767676;
  padding-top: 120px;
  position: relative;
  background-repeat: no-repeat;
  flex-basis: 200px;
  text-align: center;
  
  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    top: 0;
  }
}

 .osago-service__advantage--help::before {
  background-image: url("../img/icon-direct-help.png");
  width: 86px;
  height: 109px;
  left: 70px;
 }

.osago-service__advantage--sale::before { 
  background-image: url("../img/icon-nocrash-sale.png");
  width: 114px;
  height: 107px;
  left: 38px;
}

.osago-service__advantage--formal::before {
  background-image: url("../img/icon-quick-formal.png");
  width: 174px;
  height: 93px;
  left: 22px;
}

.osago-service__direct {
  border: 6px solid #e8e8e8;
  margin-bottom: 65px;
  text-align: center;
  color: #767676;
  padding: 0 15px;
  padding-bottom: 30px;
  
  p{
    font-size: 18px;
    line-height: 28px;
    margin:0;
  }
}

.osago-service__direct--title {
  font-size: 37px;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 37px;
}

.osago-service__conditions {
  margin-top: 28px;
}

.osago-service__conditions-title {
  font-size: 23px;
  line-height: 28px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}

.osago-service__conditions-items {
  list-style: none;
  font-size: 18px;
  line-height: 28px;
  padding: 0;
  margin: 0;
}
