.to-frequency {
  background-color: #ffffff;
  color: #6b6b6b;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  margin-top: -70px;

  .clearfix();
}

.to-frequency__inner {
  margin:0;
  .clearfix();
}

.to-frequency__text {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.to-frequency__text--uppercase {
  text-transform: uppercase;
}

.to-frequency__text--small {
  font-size: 28px;
}

.to-frequency__text--reference {
  margin-top: 30px;
  font-size: 18px;
  float: right;
}

.to-counter {
  margin-top: 25px;
  margin-bottom: 25px;
}