.to-intro {
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0;
  text-align: center;
  position: relative;

  video{
    width: 100%;
    position: absolute;
    left:0;
    top:0;
  }
}

.to-intro__text {
  font-size: 37px;
  color: #ffffff;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  p {
    margin: 0;
  }
  span {
    color: #ff9c28;
  }
}

.to-intro__form {
  position: absolute;
  display: inline-block;
  top: 235px;
  left: 50%;
  transform: translateX(-50%);
}

.masthead-overlay {
	background-color: #000;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.to-intro__marks {
  position: absolute;
  top: 470px;
  left: 50%;
  transform: translateX(-50%);
}
