.to-intro {
  background-image: url("../img/bg-intro-to1.jpg");
  background-position: center top;
  padding: 70px 0;
  text-align: center;
}

.to-intro__text {
  font-size: 37px;
  color: #ffffff;
  margin-bottom: 50px;
  p {
    margin: 0;
  }
  span {
    color: #ff9c28;
  }
}

.to-intro__form {
  display: inline-block;
}