.to-marks {
  margin-top: 60px;
  text-align: center;
}

.to-marks__item {
  display: inline-block;
  width: 84px;
  height: 84px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 15px;
}

.to-marks__item--honda {
  background-image: url(@logo-honda-image);
  background-position: @logo-honda-offset-x @logo-honda-offset-y;
}

.to-marks__item--ford {
  background-image: url(@logo-ford-image);
  background-position: @logo-ford-offset-x @logo-ford-offset-y;
}

.to-marks__item--mitsubishi {
  background-image: url(@logo-mitsubishi-image);
  background-position: @logo-mitsubishi-offset-x @logo-mitsubishi-offset-y;

}

.to-marks__item--huyndai {
  background-image: url(@logo-hyundai-image);
  background-position: @logo-hyundai-offset-x @logo-hyundai-offset-y;
}

.to-marks__item--suzuki {
  background-image: url(@logo-suzuki-image);
  background-position: @logo-suzuki-offset-x @logo-suzuki-offset-y;
}
